.section-1{
    background-color: #3b383f;
}
.section-1-content {
    width: 86%;
    margin: auto;
    margin-left: 250px;
}
.section-1-content-text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #3b383f;
}
.section-1-content-right img{
    width: 800px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Poppins;
}
.section-1-content-1 h3{
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}
.section-1-content-1 h1{
    font-size: 5rem;
    color: white;
    margin-bottom: 30px;
}
.section-1-content-1 h4{
    font-size: 23px;
    color: white;
}
.section-1-content-2 h3{
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
}
.section-1-content-left button{
    padding: 15px;
    padding-inline: 70px;
    font-size: 20px;
    background-color: #f7914d;
    color: white;
    border-radius: 10px;
    border: none;
}
.section-2{
    background-color: #5c5861;
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-2-content-lower{
    display: flex;
    flex-direction: row;
}
.section-2-lower-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: auto;
}
.section-2-lower-text > div{
    display: flex;
    flex-direction: row;
}
.section-1-content-text-2{
    width: 40%;
}
.section-1-content-text-1 > div .section-2-content-text-right{
    width: 40%;
}
.section-2-content-text-right-1 {
    width: 18%;
}
.section-2-content-text-right-2 {
    width: 22%;
}
.section-2-content-text-right-3 {
    width: 23%;
}
.section-2-content-text-right-4 {
    width: 23%;
}
.section-2-content-lower-text-1,.section-2-content-lower-text-2,.section-2-content-lower-text-3,.section-2-content-lower-text-4 > div p{
    width: 150%;
    text-align: left;
    color: white;
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section-2-content-text-left{
    margin-right: 50px;
    width: 250px;
    text-align: left;
    font-size: 21px;
    color: white;
}
.section-2-lower-text hr{
    width: 800px;
}
.section-2-content-lower-text-1 > div h2{
    font-size: 28px;
    color: #f7914d
}
.section-2-content-lower-text-2 > div h2{
    font-size: 28px;
    color: #f7914d
}
.section-2-content-lower-text-3 > div h2{
    font-size: 28px;
    color: #f7914d
}
.section-2-content-lower-text-4 > div h2{
    font-size: 28px;
    color: #f7914d
}
.section-2-content-text-right-1 h4{
    font-size: 25px;
}
.section-2-content-text-right-1 {
    width: 40%;
}
.section-2-content-text-right-2 {
    width: 40%;
}
.section-2-content-text-right-3 {
    width: 40%;
}
.section-2-content-text-right-4 {
    width: 40%;
}
.section-2-content-text-right-4 h4{
    font-size: 21px;
    color: white;
    text-align: left;
}
.section-2-content-upper h1{
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section-2-content-upper p{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
.section-2-button button{
    padding: 18px;
    width: 18%;
    font-size: 16px;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #f7914d;
    color: white;
    border: none;
    border-radius: 10px;
}
.section-3{
    background-color: #3b383f;
}
.section-3-content-lower-images > div img{
    width: 360px;
    height: 360px;
}
.section-3-content-lower {
    width: 70%;
    margin: auto;
    padding-top: 50px;
}
.section-3-content-lower-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.section-3-content-lower-images > div {
    margin: 10px;
    margin-bottom: 30px;
    background-color: white;
}
.section-3-content-lower-images > div h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3b383f;
}
.section-3-content-upper h1{
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
    padding-top: 50px;
}
.section-3-content-upper p{
    text-align: center;
    color: white;
    font-size: 20px;
}
.section-3-lastsection h3{
    font-size: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 0;
}
.section-4-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.section-4-content-right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    margin-right: 20px;
    width: 25%;
}
.section-4-content-right > div{
    width: 150px;
}
.section-4-content-left h2{
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.section-4-content-left p{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.section-4-contents{
    background-color: #58545e;
    padding-bottom: 50px;
}
.section-4-content-right > div h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 50px;
}
.section-4-content-right > div h2{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-align: center;
}
.section-4-content-right-background{
    width: 200px;
}
.section-4-content-right-background {
    width: 150px;
    height: 150px;
    align-items: center;
    background-color: #f7914d;
    border-radius: 100px;
}
.section-4-content-right > div{
    margin-left: 50px;
}
.section-4-content-left button{
    font-size: 20px;
    padding: 15px;
    width: 35%;
    background-color: #f7914d;
    color: white;
    border: none;
    border-radius: 8px;
}
.section-5{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #2d2933;
}
.section-5-content{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section-5-content-upper img{
    width: 300px;
    border-radius: 150px;
}
.section-5-content-upper h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.section-5-content-upper p{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.user-1{
    align-self: flex-start;
    color: white;
    margin-left: 20px;
}
.user{
    width: 500px;
    padding: 12px;
    border: none;
    background-color: transparent;
    color: white;
}
.section-5-content-lower hr{
    width: 500px;
    color: white;
}
.user::placeholder{
    font-size: 16px;
    color: white;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 540px;
    margin: auto;
}
.lastsection{
    width: 40%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
.lastsection button{
    width: 40%;
    padding: 15px;
    font-size: 16px;
    background-color: #f7914d;
    color: white;
    border: none;
    border-radius: 8px;
}
.lastsection h4{
    font-size: 18px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}