.hero{
    background-image:url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/a95e22e4fddb5a3b9c3c4b0e/6f8053a2-7261-42af-9cbd-2f0c59a1cc6f.jpg);
    height: 800px;
    background-size: cover;
}
.hero h1{
    font-size: 13.9rem;
    color: white;
    margin-top: 0;
    padding-top: 70px;
    margin-bottom: 70px;
}
.hero-content{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.hero-content > div{
    width: 29%;
    margin-top: -20px;
    margin-left: -10px;
}
.hero-left p{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
    line-height: 0.9;
}
.hero-right p{
    font-size: 18px;
    width: 80%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 25px;
}
.hero-right h6{
    font-size: 15px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-left: 20px;
}
.hero-right button{
    padding: 20px;
    padding-inline: 60px;
    border-radius: 50px;
    background-color: #0bb8d2 ;
    color: white;
    font-weight: bold;
    border: none;
    margin-top: -9px;
    margin-left: 23px;
}
.section-2{
    margin-top: 150px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
}
.graphic-designer{
    width: 71%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.graphic-designing{
    width: 38%;
    background-color: #0bb8d2;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    height: 600px;
}
.graphic-designing-icons svg{
    width: 23px;
    text-align: center;
}
.graphic-designing-image img{
    width: 215px;
    height: 215px;
    border-radius: 100px;
    margin-top: -100px;
}
.graphic-designing h2{
    font-size: 28px;
    width: 50%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.graphic-designing p{
    width: 81%;
    text-align: center;
    line-height: 1.5;
    color: white;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 8px;
}
.graphic-designing-icons {
    margin-top: 29px;
    text-align: center;
    width: 62%;
    color: white;
}
.u-svg-content{
    fill: white;
    width: 25px;
    margin: 5px;
}
.about h2{
    font-size: 38px;
    color: #0bb8d2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0;
}
.about p{
    font-size: 23px;
    width: 82%;
    line-height: 1.35;
}
.about button{
    font-size: 15px;
    padding: 20px;
    color: white;
    border-radius: 60px;
    border: none;
    background-color: #0bb8d2;
    margin-top: 6px;
    width: 43%;
}
.section-3{
    padding-top: 100px;
    padding-bottom: 50px;
}
.section-3-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section-3-left {
    width: 30%;
}
.section-3-left h1{
    font-size: 51px;
    color: #0bb8d2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    margin-bottom: 27px;
}
.section-3-left p{
    font-size: 17px;
    width: 85%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.9;
}
.section-3-right {
    display: flex;
    flex-direction: row;
    width: 61%;
    margin-top: 29px;
}
.section-3-right > div{
    width: 25%;
}
.section-3-right-box{
    margin-left: 54px;
}
.section-3-right-box h2{
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0;
}
.section-3-right-box p{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
.about{
    width: 55%;
}
.section-4{
    background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/18aeb37865a053feb11d0c80/d86ed790-924b-49cb-018f-e3624b663505.jpg);
    background-position: center;
    background-size: cover;
}
.section-4-upper h1{
    font-size: 5.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0bb8d2;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 8px;
}
.section-4-upper p{
    font-size: 24px;
    letter-spacing: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
}
.section-4-lower {
    width: 54%;
    margin: auto;
}
.section-5-content{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-5-content> div{
    width: 23%;
    height: 406px;
    padding: 35px;
    border: 2px solid #0bb8d2;
    margin: 15px;
}
.section-5-box p{
    width: 90%;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7;
}
.section-5-box h1{
    font-size: 54px;
    margin-top: 8px;
    margin-bottom: 20px;
    font-family: Montserrat,sans-serif 
}
.section-5-box h2{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 40px;
}
.section-5-box button {
    padding: 23px;
    padding-inline: 45px;
    border-radius: 50px;
    background-color: #0bb8d2;
    color: white;
    font-size: 20px;
    border: none;
    margin-top: 25px;
}
.achievement{
    display: flex;
    flex-direction: row;
}
.achievement-upper img{
    width: 650px;
    height: 450px;
    border-radius: 20px;
}
.contacts {
    width: 35%;
    background-color: #0bb8d2;
    border-radius: 25px;
    padding-top: 150px;
    height: 890px;
}
.contact{
    margin-left: 30px;
    margin-bottom: 35px;
}
.contact h3{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-bottom: 5px;
}
.contacts p{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 10px;
}
.achievement-right {
    margin-left: 70px;
}
.achievement-lower {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.achievement-box {
    width: 40%;
    height: 215px;
    margin: 18px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.205);
    text-align: center;
}
.achievement-box h2{
    margin-top: 35px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4f6264
}
.achievement-box p{
    font-size: 53px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 35px;
    color: #f06344;
    font-weight: bold;
}
.achievement-right button{
    padding: 20px;
    border-radius: 20px;
    width: 85%;
    margin-left: 26px;
    margin-top: 20px;
    font-size: 20px;
    background-color: #f06344;
    color: white;
    border: none;
}
.u-svg-content {
    color: white;
}
.section-6{
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-6-image {
    background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/afb6f7467f845413aac70c60/6c878222-fecc-0612-203e-697dfad002b2.jpg);
    background-position: center;
    background-size: cover;
}
.section-6-upper h2{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.section-6-upper p{
    width: 29%;
    margin: auto;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin-top: 75px;
}
.section-6-lower {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.section-6-lower img{
    width: 300px;
    height: 300px;
    border-radius: 160px;
    margin-top: 50px;
}
.section-6-lower p{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 100px;
}
.address-right img{
    width: 640px;
    border-radius: 25px;
}
.address-upper{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    margin: auto;
}
.address-left h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0bb8d2;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
}
.address-left h3{
    font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.address-left p{
    font-size: 16px;
    text-align: center;
}
.address-left {
    width: 50%;
    margin: auto;
}
.address-lower {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section-lower-boxes{
    width: 23%;
    padding: 23px;
    background-color: #f06344;
    margin-top: 50px;
    margin-bottom: 50px;
}
.title {
    display: flex;
    flex-direction: row;
}
.title img{
    width: 30px;
    height: 30px;
    margin-top: 18px;
    margin-left: 5px;
}
.title h1{
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.section-lower-boxes p{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
@media only screen and (min-width:700px) and (max-width:1200px){
    .hero h1 {
        font-size: 8.9rem;
    }
    .hero-content {
        display: flex;
        flex-direction: row;
        justify-content: unset;
        width: 100%;
    }
    .hero-left p {
        font-size: 28px;
    }
    .hero-right p {
        font-size: 23px;
        width: 166%;
    }
    .hero-content > div {
        width: 32%;
        margin-top: 0px;
        margin-left: 24px;
    }
    .hero-right h6 {
        font-size: 18px;
        margin-left: 28px;
    }
    .hero-right button {
        padding: 15px;
        padding-inline: 45px;
        font-size: 18px;
    }
    .graphic-designer {
        width: 95%;
    }
    .about p {
        width: 100%;
    }
    .section-3-content {
        display: flex;
        flex-direction: column;
    }
    .section-3-left {
        width: 95%;
        margin-left: 37px;
    }
    .section-3 {
        padding-top: 0;
    }
    .section-3-right {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .section-3-right-box p {
        width: 24rem;
    }
    .section-4-upper h1 {
        font-size: 4.5rem;
    }
    .section-4-upper p {
        font-size: 20px;
    }
    .section-4-lower {
        width: 80%;
    }
    .section-5-content {
        flex-wrap: wrap;
    }
    .section-5-content> div {
        width: 36%;
        height: 380px;
    }
    .section-5-box h1 {
        font-size: 48px;
    }
    .section-5-box h2 {
        margin-bottom: 35px;
    }
    .section-5-box p {
        width: 100%;
        font-size: 16px;
    }
    .achievement-upper img {
        width: 395px;
        height: 360px;
    }
    .achievement-box {
        width: 35%;
        height: 195px;
    }
    .achievement-right button {
        width: 75%;
    }
    .achievement-right {
        margin-left: 45px;
        width: 57%;
    }
    .contacts {
        width: 40%;
        height: 820px;
        padding-top: 90px;
    }
    .section-6-upper p {
        width: 70%;
        font-size: 22px;
    }
    .section-6-lower p {
        font-size: 20px;
        color: white;
    }
    .address-right img {
        width: 400px;
    }
    .address-left h1 {
        font-size: 42px;
    }
    .address-left p {
        font-size: 20px;
    }
    .section-lower-boxes {
        width: 26%;
    }
}
@media only screen and (max-width:600px){
    .hero h1 {
        font-size: 5.9rem;
    }
    .hero-content {
        flex-direction: column;
        justify-content: unset;
    }
    .hero-content > div {
        width: 95%;
        margin-top: -40px;
        margin-left: 22px;
    }
    .hero-left p {
        font-size: 23px;
        margin-left: 20px;
    }
    .hero-left {
        margin-bottom: 25px;
        margin-left: 30px;
    }
    .graphic-designer {
        width: 90%;
        flex-direction: column;
    }
    .graphic-designing {
        width: 100%;
        height: 450px;
    }
    .about {
        width: 100%;
    }
    .about p {
        font-size: 20px;
        width: 100%;
    }
    .about button {
        font-size: 12px;
    }
    .section-2 {
        margin-bottom: 50px;
    }
    .section-3 {
        padding-top: 0;
    }
    .section-3-content {
        display: flex;
        flex-direction: column;
    }
    .section-3-left {
        width: 95%;
    }
    .section-3-left h1 {
        font-size: 40px;
    }
    .section-3-left p {
        font-size: 19px;
        width: 100%;
    }
    .section-3-right {
        flex-direction: column;
        width: 100%;
    }
    .section-3-right > div {
        width: 85%;
    }
    .section-3-right-box {
        margin-left: 30px;
    }
    .section-4-upper h1 {
        font-size: 2.9rem;
    }
    .section-4-upper p {
        font-size: 15px;
    }
    .section-4-lower img{
        width: 270px;
    }
    .section-4-lower {
        width: 65%;
    }
    .section-5-content {
        display: flex;
        flex-direction: column;
    }
    .section-5-box h1 {
        font-size: 40px;
    }
    .section-5-box button {
        margin-top: 10px;
    }
    .section-5-content> div {
        width: 71%;
        height: 390px;
    }
    .section-5-box h2 {
        margin-bottom: 16px;
    }
    .achievement {
        flex-direction: column;
    }
    .achievement-upper img {
        width: 350px;
        height: 350px;
    }
    .achievement-right {
        margin-left: 5px;
    }
    .contacts {
        width: 100%;
        padding-top: 19px;
        height: 775px;
    }
    .achievement-upper {
        margin-top: 30px;
    }    
    .achievement-box {
        width: 90%;
    }
    .section-6-upper h2 {
        font-size: 25px;
    }
    .section-6-upper p {
        width: 91%;
        font-size: 18px;
        margin-top: 30px;
    }
    .section-6-lower img {
        width: 200px;
        height: 200px;
        margin-top: 30px;
    }
    .section-6-image {
        height: 690px;
    }
    .address-right img {
        width: 360px;
    }
    .address-upper {
        display: flex;
        flex-direction: column;
    }
    .address-left h1 {
        font-size: 26px;
    }
    .address-left {
        width: 85%;
    }
    .address-lower {
        display: flex;
        flex-direction: column;
    }
    .section-lower-boxes {
        width: 87%;
        margin-top: 0;
        margin-bottom: -1px;
    }
    .title img {
        margin-left: 0;
        margin-right: 10px;
    }
}