.hero{
    background-color: #292d33;
    padding-top: 50px;
    padding-bottom: 50px;
}
.hero-1{
    width: 81%;
    margin: auto;
    position: relative;
    height: 1250px;
}
.hero-background{
    position: relative;
    background-image: linear-gradient(#85afe0, #292d33);
    width: 832px;
    left: 250px;
    height: 550px;
    top: -135px;
}
.hero-image{
    position: relative;
    top: -600px;
}
.hero-image img{
    width: 1004px;
    margin: auto;
    background-position: center;
    background-size: cover;
    height: 707px;
}
.hero-title{
    position: relative;
    top: 49px;
    z-index: 99;
    background-image: linear-gradient(to right, #292d33, #555c66);
    width: 65%;
    left: -80px;
    height: 257px;
}
.hero-title h1{
    font-size: 4rem;
    line-height: 1.1;
    font-weight: 400;
    margin-left: 10px;
    width: 90%;
    padding: 47px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.hero-circle{
    position: relative;
    width: 225px;
    height: 225px;
    border-radius: 121px;
    background-color: #85afe0;
    top: -719px;
    left: -53px;
}
.hero-content{
    position: relative;
    top: -926px;
    width: 47%;
    left: 529px;
    background-color: white;
    padding: 40px;
}
.hero-content p{
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
    line-height: 1.5;
}
.hero-content h6{
    font-size: 18px;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 27px;
    margin-bottom: 26px;
}
.hero-content button{
    padding: 20px;
    padding-inline: 50px;
    font-size: 16px;
    background-color: #94bae5;
    font-weight: bold;
    border: none;
}
.section-2{
    background-color: #292d33;
}
.legalservices {
    width: 70%;
    position: relative;
    text-align: end;
}
.legalservices p{
    font-size: 19px;
    text-align: end;
    line-height: 2;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}
.section-2-content {
    width: 97%;
    height: 650px;
    align-items: center;
    display: flex;
    justify-content: end;
}
.section-background {
    width: 270px;
    height: 270px;
    border-radius: 150px;
    background-color: #85afe0;
    position: relative;
    left: 135px;
    top: 20px;
}
.legalservices h1{
    font-size: 4.8rem;
    margin-top: 132px;
    line-height: 1;
    width: 100%;
    text-align: end;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.legalservices button{
    padding: 20px;
    padding-inline: 40px;
    background-color: #85afe0;
    border: none;
    color: white;
}
.section-3{
    padding-top: 70px;
    background-color: #292d33;
    height: 1100px;
}
.section-3 h1{
    font-size: 5rem;
    color: white;
    font-family: Cantarell;
    margin-left: 50px;
    margin-bottom: 100px;
}
.section-3-box-1 svg{
    width: 50px;
}
.section-3-image{
    position: relative;
    top: 100px;
    left: 60px;
    width: 90%;
}
.section-3-image img{
    width: 900px;
}
.section-3-background{
    position: absolute;
    width: 450px;
    height: 450px;
    background-image: linear-gradient(#85afe0, #292d33);
}
.section-3-boxes{
    position: relative;
    z-index: 99;
    left: 700px;
    top: -650px;
    padding: 50px;
    width: 35%;
}
.section-3-box-1 {
    text-align: center;
    width: 76%;
    margin-right: 0;
    padding: 30px;
    margin-bottom: 20px;
    background-color: white;
}
.section-3-box-1 p{
    width: 90%;
    font-size: 16px;
}
.section-3-content {
    height: 855px;
}
.section-4{
    padding-top: 150px;
    padding-bottom: 50px;
    background-color: #292d33;
}
.section-4-background{
    width: 948px;
    height: 595px;
    margin-top: 45px;
    position: absolute;
    background-image: linear-gradient(rgb(86, 119, 157), rgb(70, 86, 104));
    left: 260px;
}
.section-4-image {
    position: relative;
    left: 460px;
    top: -143px;
    width: 400px;
}
.section-4-image img{
    height: 700px;
    width: 664px;
}
.section-text {
    width: 37%;
    padding: 45px;
    background-color: white;
    position: relative;
    top: -660px;
    left: 63px;
}
.section-text p{
    width: 100%;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section-text h6{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section-text button{
    padding: 20px;
    padding-inline: 40px;
    background-color: #85afe0;
    border: none;
    font-weight: bold;
}
.section-4-content {
    height: 750px;
}
.section-5{
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #292d33;
}
.section-5-text h1{
    font-size: 80px;
    width: 61%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    line-height: 1.2;
}
.section-5-text p{
    font-size: 21px;
    width: 74%;
    line-height: 1.6;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -17px;
    margin-bottom: 45px;
}
.section-5-text button{
    padding: 25px;
    padding-inline: 57px;
    border: none;
    background-color: #85afe0;
    font-weight: bold;
}
.section-5-background {
    width: 270px;
    height: 270px;
    border-radius: 150px;
    background-color: #85afe0;
    top: -390px;
    left: 779px;
    position: relative;
}
.section-5-text {
    position: relative;
    z-index: 1;
    margin-top: -31px;
    margin-left: 63px;
}
.section-6-background{
    position: relative;
    width: 800px;
    height: 440px;
    background-image: linear-gradient(#56779d, #465668);
    left: 330px;
    top: 150px;
}
.section-6-image{
    position: relative;
    top: -370px;
    left: 415px;
}
.section-6-text{
    position: relative;
    width: 52%;
    padding: 40px;
    top: -640px;
    left: 50px;
    background-color: white;
}
.section-6-image img{
    width: 635px;
}
.section-6-text h2 {
    font-size: 65px;
    margin-bottom: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
}
.section-6-text h4{
    font-size: 23px;
    width: 75%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title h3{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.479);
    font-weight: 500;
}
.section-6-text button{
    padding: 20px;
    padding-inline: 40px;
    background-color: #85afe0;
    font-weight: bold;
    border: none;
}
.section-6{
    background-color: #292d33;
    height: 975px;
}
.section-6-content {
    width: 67%;
    height: 800px;
}
.section-7{
    background-color: #292d33;
}
.section-7-content {
    display: flex;
    flex-direction: row;
    padding-top: -2px;
    padding-bottom: 50px;
    width: 91%;
    margin: auto;
    height: 525px;
}
.section-7-left h1{
    margin-bottom: 68px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: -9px;
    font-size: 39px;
    margin-left: 5px;
}
.section-7-left {
    width: 56%;
    padding: 30px;
    background-color: #537092;
}
textarea#user {
    width: 86%;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
}
input.user {
    width: 83%;
    padding: 12px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
}
input.user-2 {
    width: 83%;
    padding: 12px;
    padding-top: 53px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
}
.section-7-left button{
    padding: 14px;
    margin-top: 18px;
    background-color: #85afe0;
    padding-inline: 33px;
    border: none;
    font-weight: bold;
    font-size: 16px;
}
.section-7-right {
    width: 45%;
    padding: 8px;
    background-color: white;
}
.right-box h3{
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 60%;
    margin-bottom: -7px;
    font-weight: 400;
}
.right-box p{
    font-size: 16px;
    margin-bottom: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    font-style: italic;
    color: rgba(0, 0, 0, 0.658);
}
.right-box {
    margin-left: 23px;
}
.user-2::placeholder{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.445);
}
.user::placeholder{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.469);
}
@media only screen and (max-width:600px) {
    .hero-image img {
        width: 290px;
    height: 350px;
    }
    .hero-background {
        width: 270px;
        left: 50px;
        height: 445px;
        top: -97px;
    }
    .hero-image {
        top: -515px;
    }
    .hero-title {
        top: -21px;
        width: 102%;
        left: -5px;
        height: 191px;
    }
    .hero-title h1 {
        font-size: 2rem;
        width: 75%;
    }
    .hero-content {
        top: -697px;
        width: 78%;
        left: -4px;
    }
    .hero-content p {
        font-size: 16px;
        width: 100%;
    }
    .hero-content h6 {
        font-size: 13px;
    }
    .hero-circle {
        top: 10px;
        left: -15px;
        width: 195px;
        height: 195px;
    }
    .hero {
        padding-bottom: 0;
    }
    .section-5-text h1 {
        font-size: 28px;
        width: 80%;
    }
    .section-5-text {
        margin-top: 0;
        margin-left: 30px;
    }
    .section-5-text p {
        font-size: 20px;
        width: 90%;
        margin-top: 0;
        margin-bottom: 45px;
    }
    .section-5-background {
        width: 230px;
        height: 230px;
        top: -421px;
        left: 100px;
    }
    .section-4-background {
        width: 335px;
        height: 235px;
        left: 20px;
    }
    .section-4-image {
        left: 28px;
        top: -143px;
        width: 325px;
    }
    .section-4-image img {
        height: 360px;
        width: 290px;
    }
    .section-4-content {
        height: 790px;
    }
    .section-text {
        width: 82%;
        padding: 20px;
        top: -84px;
        left: 13px;
    }
    .legalservices h1 {
        font-size: 1.8rem;
        margin-top: 0;
    }
    .legalservices {
        width: 95%;
    }
    .legalservices p {
        font-size: 16px;
    }
    .section-2-content {
        width: 96%;
        height: 480px;
    }
    .section-3 h1 {
        font-size: 3rem;
        margin-left: 16px;
        margin-bottom: 35px;
    }
    .section-3-background {
        width: 350px;
    }
    .section-3-image {
        top: 50px;
        left: 50px;
    }
    .section-3-image img {
        width: 300px;
    }
    .section-3-boxes {
        left: 16px;
        top: -53px;
        width: 69%;  
    }
    .section-3 {
        height: 1270px;
        padding-top: 10px;
    }
    .section-6-background {
        width: 345px;
        height: 440px;
        left: 8px;
        top: 149px;
    }
    .section-6-text {
        width: 110%;
        top: -375px;
        left: 9px;
    }
    .section-6-image {
        top: -370px;
        left: 37px;
    }
    .section-6-image img {
        width: 290px;
    }
    .section-6-text h2 {
        font-size: 35px;
    }
    .section-7-content {
        display: flex;
        flex-direction: column;
        height: 900px;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .section-7-left {
        width: 82%;
    }
    input.user-2 {
        width: 95%;
        padding: 4px;
        padding-top: 40px;
    }
    textarea#user {
        width: 97%;
    }
    input.user {
        width: 90%;
    }
    .section-7-right {
        width: 95%;
    }
    .section-7-left h1 {
        margin-bottom: 35px;
        margin-top: 0;
    }
}
@media only screen and (min-width:700px) and (max-width:1200px){
    .hero-title {
        width: 107%;
    }
    .hero-background {
        width: 605px;
        left: 60px;
    }
    .hero-image img {
        width: 665px;
    }
    .hero-image img {
        width: 570px;
        height: 575px;
    }
    .hero-title {
        width: 95%;
    }
    .hero-title h1 {
        font-size: 3.6rem;
    }
    .hero-title {
        width: 95%;
        left: -70px;
    }
    .hero-content {
        top: -926px;
        width: 63%;
        left: 200px;
    }
    .section-5-text {
        margin-top: 0;
        margin-left: 50px;
    }
    .section-5-text h1 {
        font-size: 60px;
        width: 75%;
    }
    .section-5-background {
        top: -345px;
        left: 420px;
    }
    .section-4-background {
        width: 710px;
        height: 595px;
        left: 30px;
    }
    .section-4-image {
        left: 90px;
    }
    .section-4-image img {
        height: 685px;
        width: 590px;
    }
    .section-text {
        width: 60%;
        padding: 45px;
        top: -295px;
        left: 0;
    }
    .section-4 {
        padding-top: 190px;
    }
    .section-4-content {
        height: 885px;
    }
    .legalservices h1 {
        font-size: 4.8rem;
        font-weight: 400;
        margin-top: -20px;
    }
    .section-background {
        width: 220px;
        height: 220px;
        left: 125px;
        top: 42px;
    }
    .section-3 h1 {
        font-size: 4rem;
        margin-left: 30px;
        margin-bottom: 50px;
    }    
    .section-3-image img {
        width: 645px;
    }
    .section-3-background {
        width: 600px;
    }
    .section-3-boxes {
        left: 218px;
        top: -120px;
        width: 50%;
    }
    .section-3-box-1 {
        width: 100%;
    }
    .section-3 {
        height: 1330px;
    }
    .section-6-background {
        width: 630px;
        left: 110px;
        top: 150px;
        height: 350px;
    }
    .section-6-image {
        left: 165px;
        top: -275px;
    }
    .section-6-image img {
        width: 535px;
    }
    .section-6-text {
        width: 80%;
        top: -365px;
        left: 50px;
    }
    .section-6-text h2 {
        font-size: 50px;
    }
    .section-6 {
        height: 1045px;
    }
    .section-7-content {
        padding-top: 45px;
    }
}