
.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

*{
    margin: 0;
    background-color: #8b6755;
    
}
/*.menu{
    width: 400px;
    float: left;
    height: 70px;


}*/

.menu ul li{
    display: inline-block;
    list-style-type: none;
    display: inline-block;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 5px;
    align-items: left;
    background: red;
    border-color: red;
    margin: 10px;
    padding: 1px; 

}

.menu ul a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.2s;

    
}
.menu li :hover{
    color: orange;
}

/*ul li a{
    right: 760;
    color: white;
    transition: .4s ease;
    
}*/

  
/* .content{
    max-width: 700px;
    margin:auto;
    height: 50vh;
    align-items: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: white;
    height: 100vh;
    display: inline-block;
    height: 400px;
    position: absolute;
    left: 0;
    top: 30;
    bottom: 0;
    right: 0;
}

.content .taste{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    
/* }
.content .visit{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    border-color: white;
    position: absolute;
    display: flex;
    cursor: pointer;
} */

    
/* 
.content h3{
    color: rgba(222, 215, 215, 0.654);
    line-height: 50px;
    font-size: x-small;
}
.content h1{
    font-size: xx-large

}

button{
    background-color: orange;
    text-decoration: none;
    border-color: orange;
    width: 100px;
    display: flex;
    justify-content: center ;
    position: relative;
    left: 200px;
    margin-right: 200px;
} */


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.buttons {
    display: flex;
    margin-top: 20px;
}

button.taste {
    margin-right: 20px;
}

.menu ul{
    padding-left: 0;
}

.menu ul a{
    padding: 5px;
    font-size: 15px;
}

.logo {
    width: 70px;
    height: 70px;
}

.logo img{
    width: 100%;
}

.button {
    width: 280px;
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 767px) {
    .content {
        min-height: 45vh;
        max-width: 350px;
        text-align: center;
        width: 100%;
        margin: auto;
    }
    .logo {
        order: -1;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body{
        background-color: yellowgreen;
    }
}

@media screen and (min-width: 992px) {
    body{
        background-color: pink;
    }
}